#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  color: #01579B;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(183, 219, 250);
  /* #C8D6FC; */
}

#title {
  background: #01579B;
  color: #80ffcc;
  box-shadow: 1px 3px 15px blueviolet;
  min-width: 40vw;
  padding: 2rem;
  /* margin-left: 23%; */
}

/* #EditboxWrap {
  min-width: 600px;
  height: 400px;
} */

#editor {
  padding: 2rem;
  min-width: 40vw;
  min-height: 30vh;
  background-color: aliceblue;
  color: blueviolet;
  border-radius: 1rem;
}

#preview {
  background-color: aliceblue;
  padding: 1rem;
  min-width: 40vw;
  min-height: 30vh;
  color: blueviolet;
  border-radius: 1rem;
}

h3 {
  background: #80ffcc;
  border-left: 2px solid #01579B;
  border-right: 2px solid #01579B;
  border-top: 2px solid #01579B;
  border-radius: 2px;
  padding: 12px;
  max-width: 60vw;
  /* margin-left: 29%; */
  margin-bottom: 5px;

}
